<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
  <section id="about-section">
<div class="container">
<div class="row">
    <div class="col-md-4">
<div class="about-text border-right">
<h1> Lorem nsecteturaliquam.</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt eveniet libero et sunt voluptas itaque asperiores nobis est consectetur! Aliquam.
</p>
<button class="btn btn-primary">More</button>
</div>
    </div>

    <div class="col-md-4">
<div class="about-text border-right">
<h1> Lorem nsecteturaliquam.</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt eveniet libero et sunt voluptas itaque asperiores nobis est consectetur! Aliquam.
</p>
<button class="btn btn-primary">More</button>
</div>
    </div>

    <div class="col-md-4">
<div class="about-text border-right">
<h1> Lorem nsecteturaliquam.</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt eveniet libero et sunt voluptas itaque asperiores nobis est consectetur! Aliquam.
</p>
<button class="btn btn-primary">More</button>
</div>
    </div>
</div>
</div>
  </section>

  <section id="team-section">
    <div class="conatiner">
        <div class="row">
<div class="col-md-12">
    <div class="team-top-header text-center">
<h1>Lorem, ipsum dolor.</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
<div class="row">
<div class="col-md-6">
<div class="recent-text">
<img src="" alt=""/>
<h1>Lorem ipsum dolor sit?</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nostrum perferendis fugiat minima aspernatur. Odit!</p>
<button  class="btn btn-primary">More</button>
</div>
</div>

<div class="col-md-6">
<div class="recent-text">
<img src="" alt=""/>
<h1>Lorem ipsum dolor sit?</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi qui nostrum perferendis fugiat minima aspernatur. Odit!</p>
<button  class="btn btn-primary">More</button>
</div>
</div>
</div>
</div>
        </div>
    </div>
  </section>
</body>
</html>